
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    text-align: center;
    align-items: center;
    
}
.pipipopo{
    animation: 16s bg infinite;
}
@keyframes bg {
    0% {
      background-color: #0080ff;
    }
    20% {
      background-color: #f4ca41;
    }
    40% {
      background-color: #42f4b0;
    }
    60% {
      background-color: #ee41f4;
    }
    100% {
      background-color: #0080ff;
    }
  }
  .pipipopo h1{
    font-family: 'Permanent Marker', cursive;
  }
  /*-----------------------clock-------------------------*/
.button{
    margin-left: 2%;
    font-size: 60px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(42, 111, 238);
    border: 5px solid black;
    
}

.buttona{
    margin-left: 2%;
    font-size: 60px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(240, 92, 166);
    border: 5px solid black;
}
.button:hover{
    color: white;
    background-color: black;
    transition: 1s;
    transform: translate(0px, -9px) scale(1.1)
}
.button h1{
    background-color:rgba(254, 254, 255, 0.4);
}
.buttona h1{
    background-color:rgba(252, 252, 253, 0.4);
}
.buttona:hover{
    color: white;
    background-color: black;
    transition: 1s;
    transform:  scale(1.1)
}

/* ----------------------calc--------------------- */

.inp1{
    text-align: center;
    font-size: 25px;
    width: 150px;
    height: 50px;
    border: 5px solid black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.inp1:hover{
    background-color: hotpink;
}
.addb{
    background-color: black;
    color: white;
    width: 75px;
    height: 50px;
    border-radius: 20%;
}
.addb:hover{
    background-color: red;
    transition: 0.8s;
    transform: scale(1.1);
}
.addc{
    text-align: center;
    font-size: 30px;
    width: 200px;
    height: 50px;
}
.addc:hover{
    background-color:hotpink;
    transform: 0.9s;
}
.addd{
    width: 150px;
    height: 50px;
    font-size: larger;
    border: 5px solid black;
}
.addd:hover{
    background-color: green;
    transition: 0.8s;
    transform: scale(1.1);
    
}
.adddd{
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
}
.adddd:hover{
    background-color: red;
    transition: 0.8s;
    transform: scale(1.1);
}

/* -------------------------counter------------------------- */
.but1{
    background-color: black;
    color: white;
    font-size: 50px;
    width: 240px;
    height: 100px;
    border-radius: 10px;
}
.but2{
    background-color: black;
    color: white;
    width:80px;
    height: 60px;
    font-size: 15px;
    border-radius: 10px;
}
.but2:hover{
    background-color: rgb(236, 47, 119);
    transition: 0.8s;
    transform: scale(1.1);
}
/*------------------R*P*C------------------------*/

.weaponBtn1{
    margin :10px;
    width: 10%;
    height: 50px;
    background-color: black;
    color: rgb(250, 250, 250);
    flex-wrap: wrap;
}
.weaponBtn1:hover{
    background-color: rgb(250, 9, 49);
    transform: scale(1.05);
    transition: 0.6s;
}
.butt{
   margin-left: 46%;
   font-size: larger;
   font-weight: bolder;
   color: rgb(252, 32, 32);
   width: 8%;
   height: 60px;
   text-transform: uppercase;
}


.weaponBtn{
    width: 7%;
    height: 40px;
    margin: 10px;
    background-color: rgb(5, 5, 5);
    color: white;
}
.weaponBtn:hover{
    animation: swing .5s ease-out;
    background-color: rgb(250, 9, 49);
    transform: scale(1.05);
    transition: 0.6s;
}
@keyframes swing{
	0%{
        transform: rotate(0deg);
    }
	20%{
        transform: rotate(20deg);
    }
	40%{
        transform: rotate(-20deg);
    }
	60%{
        transform: rotate(0deg);
    }
	80%{
        transform: rotate(20deg);
    }
	100%{
        transform: rotate(0deg);
    }
}
/*------------------todo------------------------*/

.isItemCompleted-done {
    text-decoration: line-through;
  }
  
  .item{   
      box-shadow: 2px 2px 2px 2px #ccc;
      border: 2px #eee;
      margin: 10px;
      padding: 7px;
      text-align: left
  }
/*-----------------------------------------------------------*/
.chat{
    margin-top: 3rem;
    background-image: url(./rainbitch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.containeeer{
    justify-content: center;
    align-items: center;
    text-align: center;
}
form{
    margin-top: 3rem;
    margin-left: 5%;
    justify-content:space-between;
}
form input[name="city"],
form input[name="country"]{
    background-color: transparent;
    color: white;
    border:0;
    border-bottom: 2px solid whitesmoke;
    margin-right: 2%;
}
form input:focus{
    background-color: transparent !important;
    box-shadow: none !important;
}
/*-----------------------------------------------------------*/
@media screen and (max-width: 700px){
    h1{
        font-size: 10px;
    }
    .button{
        width: 70px;
        height: 70px;
        font-size: 15px;
    }
    .button h1{
        font-size: 10px;
    }
    .buttona{
        width: 70px;
        height: 70px;
        font-size: 15px;
    }
    .buttona h1{
        font-size: 10px;
    }
    .weaponBtn1{
        width: 100px;
        font-size: smaller;
    }
    .weaponBtn{
        width: 70px;
    }
}